
*,:after,:before{box-sizing:border-box}

/* tag styles */

html {
  font-size: 100%;
  background: rosybrown;
  /* display: block; */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1rem;
  color: black;
}

.wrapper {
  margin: auto;
  /* max-width: 75rem; */
}

aside, footer, header, main, section {
  display: block;
  margin: 0;
  padding: 15px;
  border: 2px solid rosybrown;
  /* color: white; */
}


main, article, section {
  background-color: lavenderblush;
  border: none;
}

aside {
  background: lightblue;
  border: none;
}

form {
  display: block;
  background: lavenderblush;
  margin: 15px;
  padding: 15px;
  border: 5px solid lightcoral;
  border-radius: 30px;
}

footer {
  background: rosybrown;
}

header {
  padding: 0;
  background: rosybrown;
  text-align: center;
  border-bottom: 5px solid lightcoral;
}

h2:nth-of-type(1) {
  color: rosybrown;
}

h3:nth-child(1),
h3:nth-child(3) {
  color: navy;
}

/* class styles */

.topnav {
  overflow: hidden;
  position: relative;
}
  
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}
  
.topnav a:hover {
  background-color: lightcoral;
  color: white;
}

/* media queries */

@media (min-width: 650px) and (max-width: 1400px) {
  body {
    color: purple;
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
  }

  .topnav a {
    display: inline-block;
  }

  .flexbox {
    display: flex;
    padding: 30px 30px 30px 50px;
  }

  .about_me {
    padding-right: 15px;
  }

  .more {
    flex-grow: 2;
    flex-basis: 50%;
  }

  /* main {
    float: left;
    width: 70%;
  }

  div {
    float: right;
    width: 30%;
  } */


/* 
  form {
    display: block;
    background: lavenderblush;
    margin: 0;
    padding: 0;
    border: 5px solid lightcoral;
    border-radius: 0;
  } */



}
 
@media (min-width: 1400px) {
  body {
    color: black;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: baseline;
  }

  .topnav a {
    display: inline-block;
  }
 
  .experience {
    display: flex;
  }
}
